// firstscreen ====================================================================================================
.firstscreen {
   background: rgba($color: #eff2fc, $alpha: 0.4) url(../img/home/firstscreen-bg.png) no-repeat bottom center/cover;
   background-attachment: fixed !important;
   position: relative;
   padding-bottom: 0;
   min-height: calc(100vh - var(--header-height));
   overflow: hidden;

   &:first-child {
      // @include adaptiveValue("padding-top", 50, 32, 1920, 1440, 1);
      padding-top: rem(50);

      @media screen and (orientation: portrait) and (min-width: $mobile) {
         padding-top: rem(100);
      }
   }

   // .firstscreen__container
   &__container {
      max-width: rem(740);
      display: grid;
      justify-items: center;
      gap: rem(50);
      @include adaptiveValue("gap", 50, 32, 1920, 1440, 1);
   }

   // .firstscreen__title
   &__title {
      @include adaptiveValue("font-size", 24, 16);
      line-height: math.div(30, 24);
      text-align: center;

      h1 {
         line-height: math.div(84, 64);
      }

      span {
         display: inline-block;
         background: linear-gradient(270deg, #f8ba55 0%, #fb7354 100%);
         border-radius: 18px;
         color: $White;
         padding: 0 rem(16);
      }
   }

   // .firstscreen__text
   &__text {
      @include adaptiveValue("font-size", 24, 16);
      line-height: math.div(30, 24);
      text-align: center;
      max-width: rem(740);
      margin-left: auto;
      margin-right: auto;
   }

   // .firstscreen__button
   &__button {
   }

   // .firstscreen__items
   &__items {
      padding-bottom: rem(500);

      @media (max-width: em(1920)) {
         padding-bottom: percent(500, 1920);
      }
   }

   // .firstscreen__item
   &__item {
      position: absolute;
      will-change: transform;
      width: 100%;

      // .firstscreen__item_first
      &_first {
         max-width: percent(258, 1920);
         top: calc(300 / var(--firstscreen-height) * 100%);
         left: percent(300, 1920);
         z-index: 1;

         @media (min-height: em(920)) {
            top: calc(350 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: percent(335, 1920);
            top: calc(420 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobile) {
            max-width: percent(360, 1920);
            top: calc(340 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobileM) {
            max-width: percent(480, 1920);
         }

         ._active & {
            animation: firstscreen__item_first 8s linear infinite;
         }
      }

      @keyframes firstscreen__item_first {
         0% {
            transform: translate3d(0, 0, 0);
         }
         25% {
            transform: translate3d(-10%, 10%, 0);
         }
         50% {
            transform: translate3d(0, 0, 0);
         }
         75% {
            transform: translate3d(8%, -8%, 0);
         }
         100% {
            transform: translate3d(0, 0, 0);
         }
      }

      // .firstscreen__item_second
      &_second {
         max-width: percent(209, 1920);
         top: calc(520 / var(--firstscreen-height) * 100%);
         left: percent(626, 1920);
         z-index: 1;

         @media (min-height: em(920)) {
            top: calc(677 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: percent(271, 1920);
            top: calc(624 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobile) {
            max-width: percent(250, 1920);
            top: calc(530 / var(--firstscreen-height) * 100%);
            left: percent(500, 1920);
         }
         @media (max-width: $mobileM) {
            max-width: percent(334, 1920);
            top: calc(500 / var(--firstscreen-height) * 100%);
            left: percent(560, 1920);
         }
      }

      // .firstscreen__item_third
      &_third {
         max-width: percent(103, 1920);
         top: calc(520 / var(--firstscreen-height) * 100%);
         right: percent(680, 1920);
         z-index: 1;

         @media (min-height: em(920)) {
            top: calc(699 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: percent(134, 1920);
            top: calc(650 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobile) {
            max-width: percent(130, 1920);
            top: calc(560 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobileM) {
            max-width: percent(185, 1920);
            top: calc(520 / var(--firstscreen-height) * 100%);
         }
      }

      // .firstscreen__item_fourth
      &_fourth {
         max-width: percent(505, 1920);
         top: calc(280 / var(--firstscreen-height) * 100%);
         right: percent(170, 1920);
         z-index: 1;

         @media (min-height: em(920)) {
            top: calc(390 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: percent(656, 1920);
            top: calc(448 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobile) {
            max-width: percent(600, 1920);
            top: calc(380 / var(--firstscreen-height) * 100%);
            right: percent(115, 1920);
         }
         @media (max-width: $mobileM) {
            max-width: percent(757, 1920);
            top: calc(380 / var(--firstscreen-height) * 100%);
            right: percent(115, 1920);
         }

         ._active & {
            animation: firstscreen__item_second 8s linear infinite;
         }
      }

      @keyframes firstscreen__item_second {
         0% {
            transform: translate3d(0, 0, 0);
         }
         25% {
            transform: translate3d(-10%, -10%, 0);
         }
         50% {
            transform: translate3d(0, 0, 0);
         }
         75% {
            transform: translate3d(8%, 8%, 0);
         }
         100% {
            transform: translate3d(0, 0, 0);
         }
      }

      // .firstscreen__item_fifth
      &_fifth {
         max-width: percent(508, 1920);
         top: calc(500 / var(--firstscreen-height) * 100%);
         right: rem(-30);
         z-index: 1;

         @media (min-height: em(920)) {
            top: calc(674 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: percent(610, 1920);
            top: calc(620 / var(--firstscreen-height) * 100%);
            right: rem(-40);
         }
         @media (max-width: $mobile) {
            top: calc(540 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobileM) {
            top: calc(480 / var(--firstscreen-height) * 100%);
         }
      }

      // .firstscreen__item_sixth
      &_sixth {
         max-width: percent(355, 1920);
         top: calc(370 / var(--firstscreen-height) * 100%);
         right: rem(-30);

         @media (min-height: em(920)) {
            top: calc(507 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: percent(426, 1920);
            right: rem(-20);
         }
         @media (max-width: $mobile) {
            top: calc(450 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobileM) {
            top: calc(420 / var(--firstscreen-height) * 100%);
         }
      }

      // .firstscreen__item_seventh
      &_seventh {
         max-width: percent(255, 1920);
         top: calc(250 / var(--firstscreen-height) * 100%);
         left: percent(33, 1920);

         @media (min-height: em(920)) {
            top: calc(323 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: percent(306, 1920);
         }
         @media (max-width: $mobile) {
         }
         @media (max-width: $mobileM) {
            max-width: percent(350, 1920);
            top: calc(280 / var(--firstscreen-height) * 100%);
         }
      }

      // .firstscreen__item_eigth
      &_eigth {
         z-index: 1;
         max-width: percent(131, 1920);
         top: calc(430 / var(--firstscreen-height) * 100%);
         left: percent(1076, 1920);

         @media (min-height: em(920)) {
            top: calc(545 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: percent(170, 1920);
            left: percent(930, 1920);
         }
         @media (max-width: $mobile) {
         }
         @media (max-width: $mobileM) {
            left: percent(880, 1920);
            top: calc(378 / var(--firstscreen-height) * 100%);
            max-width: percent(220, 1920);
         }
      }

      // .firstscreen__item_nineth
      &_nineth {
         max-width: percent(1560, 1920);
         top: calc(450 / var(--firstscreen-height) * 100%);
         left: percent(222, 1920);
         z-index: 0;

         @media (min-height: em(920)) {
            top: calc(615 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: 100%;
            top: calc(630 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobile) {
            max-width: 100%;
            top: calc(540 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobileM) {
            top: calc(520 / var(--firstscreen-height) * 100%);
         }
      }

      // .firstscreen__item_ten
      &_ten {
         max-width: percent(496, 1920);
         top: calc(370 / var(--firstscreen-height) * 100%);
         left: percent(100, 1920);

         @media (min-height: em(920)) {
            top: calc(454 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $pc) and (min-height: em(920)) {
            max-width: percent(645, 1920);
            top: calc(481 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobile) {
            max-width: percent(600, 1920);
            left: percent(0, 1920);
            top: calc(410 / var(--firstscreen-height) * 100%);
         }
         @media (max-width: $mobileM) {
            max-width: percent(794, 1920);
         }
      }
   }

   & + .tools {
      background: rgba($color: #eff2fc, $alpha: 0.4) url(../img/home/firstscreen-bg.png) no-repeat bottom center/cover;
      background-attachment: fixed !important;
   }
}

// tools ====================================================================================================
.tools {
   // background: url(../img/home/tools-bg.png) no-repeat top center/cover;
   // .tools__container
   &__container {
   }

   // .tools__row
   &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue("gap", 60, 16, 1920, 992, 1);

      @media (max-width: $mobileSmall) {
         gap: rem(8);
      }

      @media (min-width: $mobile) {
         grid-template-columns: repeat(3, 1fr);
         align-items: flex-start;
      }
   }

   // .tools__text
   &__text {
      grid-column: 1/3;
      align-self: center;

      @media (max-width: $mobile) {
         margin-bottom: rem(24);
      }
   }

   // .tools__card
   &__card {
      @include adaptiveValue("border-radius", 48, 18);
      @include adaptiveValue("padding-top", 48, 24);
      @include adaptiveValue("padding-bottom", 48, 24);
      @include adaptiveValue("padding-left", 32, 16);
      @include adaptiveValue("padding-right", 32, 16);
      background-color: $White;
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 32, 16, 1920, 992, 1);

      // .tools__card_orange
      &_orange {
         background-color: #fbdcaa;
      }

      // .tools__card_violet
      &_violet {
         color: $White;
         background: linear-gradient(325.46deg, #7a43ee 30.99%, #b565e6 86.84%);
      }
   }

   // .tools__card-img
   &__card-img {
      @include adaptiveValue("max-width", 72, 40, 1920, 375, 1);
   }

   // .tools__card-text
   &__card-text {
   }
}

// services ====================================================================================================
._animation {
   opacity: 1;
   transform: translate(0);
   will-change: transform, opacity;

   ._hide & {
      opacity: 0;
   }
}

.service-item {
   display: grid;
   align-items: flex-start;
   @include adaptiveValue("column-gap", 60, 20, 1920, 992, 1);
   row-gap: rem(40);

   @media (min-width: $mobile) {
      grid-template-columns: percent(490, 1290) 1fr;
   }

   // .service-item__left
   &__left {
      position: relative;
   }

   // .service-item__media
   &__media {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: flex-end;

      svg {
         overflow: initial;

         & > g {
            @for $i from 1 through 6 {
               &:nth-child(#{$i}) {
                  g {
                     transition: $transition ease opacity #{$i * 0.4}s, $transition transform #{$i * 0.4}s;
                  }
               }
            }
         }
      }
   }

   // .service-item__count
   &__count {
      position: absolute;
      bottom: 0;
      left: 0;
      font-weight: 700;
      @include adaptiveValue("font-size", 192, 120);
      line-height: 1;
      color: $LBlue;
      opacity: 1;
      transform: translateX(0);
      transition: $transition ease opacity 0.3s, $transition transform 0.3s;
      will-change: transform, opacity;

      ._hide & {
         transform: translateX(-20%);
         opacity: 0;
      }
   }

   // .service-item__right
   &__right {
      align-self: center;

      ._content {
         h,
         .title-h {
            &1,
            &2 {
               @include adaptiveValue("margin-bottom", 48, 24);
            }
         }
      }
   }

   ._content {
      transition: $transition ease opacity 0s;

      ._hide & {
         opacity: 0;
      }
   }

   // .service-item_reverse
   &_reverse {
      @media (min-width: $mobile) {
         .service-item__right {
            grid-row: 1/2;
         }
      }
   }

   // svg 1
   #border {
      transition: $transition ease opacity 0.1s, $transition transform 0.1s;

      ._hide & {
         transform: translateX(-20%);
      }
   }
   #box-1,
   #box-2,
   #box-3 {
      transform: translate(0, 0) scaleY(1);
      transition: $transition ease opacity 0s, $transition transform 0s;

      ._hide & {
         transform: translate(0, 100%) scaleY(0);
      }
   }
   @for $i from 1 through 3 {
      #box-#{$i} {
         transition-delay: math.div($i, 10) + 0.2s;
      }
   }
   #graphic {
      transform: scale(1);
      transform-origin: center;
      transition: $transition ease opacity 0.6s, $transition transform 0.6s;

      ._hide & {
         transform: scale(0);
      }
   }

   // svg 2
   #phone {
      transition: $transition ease opacity 0.2s, $transition transform 0.2s;

      ._hide & {
         transform: translateX(-20%);
      }
   }
   #stars {
      transform: scaleY(1);
      transition: $transition ease opacity 1s, $transition transform 1s;

      ._hide & {
         transform: scaleY(0);
      }
   }
   #tablet-1 {
      transition: $transition ease opacity 0.9s, $transition transform 0.9s;

      ._hide & {
         transform: translateX(-10%);
      }
   }
   #tablet-2 {
      transition: $transition ease opacity 0.6s, $transition transform 0.6s;

      ._hide & {
         transform: translateY(-10%);
      }
   }
   #amazon {
      transition: $transition ease opacity 0.8s, 0.5s transform 0.8s;

      ._hide & {
         transform: translateY(20%);
      }
   }

   // svg 3
   #shoe {
      transition: $transition ease opacity 0.3s, $transition transform 0.3s;

      ._hide & {
         transform: translateY(-20%);
      }
   }
   #arrow-2 {
      transition: $transition ease opacity 0.5s, $transition transform 0.5s;

      ._hide & {
         transform: translateY(20%);
      }
   }
   #arrow-1 {
      transition: $transition ease opacity 0.8s, $transition transform 0.8s;

      ._hide & {
         transform: translateY(-20%);
      }
   }
   #camera {
      transition: $transition ease opacity 1s, $transition transform 1s;

      ._hide & {
         transform: translateX(10%);
      }
   }
   #gear {
      transition: $transition ease opacity 1.1s, $transition transform 1.1s;

      ._hide & {
         transform: translateX(-10%);
      }
   }

   // svg 4
   #cloud {
      transition: $transition ease opacity 0.4s, $transition transform 0.4s;

      ._hide & {
         transform: translateY(-10%);
      }
   }
   #map {
      transition: $transition ease opacity 0.7s, $transition transform 0.7s;

      ._hide & {
         transform: translateX(-10%);
      }
   }
   #truck {
      transition: $transition ease opacity 1s, 0.5s transform 1s;

      ._hide & {
         transform: translateX(10%);
      }
   }

   // svg 5
   #flag {
      transition: $transition ease opacity 0.4s, $transition transform 0.4s;

      ._hide & {
         transform: translateX(10%);
      }
   }
   #location {
      transition: $transition ease opacity 0.8s, $transition transform 0.8s;

      ._hide & {
         transform: translateX(-10%);
      }
   }
   #cube {
      transition: $transition ease opacity 1.2s, $transition transform 1.2s;

      ._hide & {
         transform: translateY(-20%);
      }
   }

   // svg 9
   #service-item-9-1 {
      transition: $transition ease opacity 0.4s, $transition transform 0.4s;

      ._hide & {
         transform: translateY(10%);
      }
   }
   #service-item-9-2 {
      transition: $transition ease opacity 0.8s, $transition transform 0.8s;

      ._hide & {
         transform: translateX(10%);
      }
   }

   // svg 10
   #service-item-10-3 {
      transition: $transition ease opacity 0.4s, $transition transform 0.4s;

      ._hide & {
         transform: translateY(-10%);
      }
   }
   #service-item-10-2 {
      transition: $transition ease opacity 0.8s, $transition transform 0.8s;

      ._hide & {
         transform: translateX(10%);
      }
   }
   #service-item-10-1 {
      transition: $transition ease opacity 0.8s, $transition transform 0.8s;

      ._hide & {
         transform: translateX(-10%);
      }
   }
   #service-item-10-5 {
      transition: $transition ease opacity 1s, $transition transform 1s;

      ._hide & {
         transform: translateY(-10%);
      }
   }
   #service-item-10-4 {
      transition: $transition ease opacity 1.2s, $transition transform 1.2s;
   }

   // svg 11
   #service-item-11-2 {
      transition: $transition ease opacity 0.4s, $transition transform 0.4s;

      ._hide & {
         transform: translateY(10%);
      }
   }
   #service-item-11-1 {
      transition: $transition ease opacity 0.7s, $transition transform 0.7s;

      ._hide & {
         transform: translateY(-10%);
      }
   }
   #service-item-11-3 {
      transition: $transition ease opacity 1s, $transition transform 1s;

      ._hide & {
         transform: translateX(10%);
      }
   }

   // svg 12
   #service-item-12-2 {
      transition: $transition ease opacity 0.4s, $transition transform 0.4s;

      ._hide & {
         transform: translateX(10%);
      }
   }
   #service-item-12-1 {
      transition: $transition ease opacity 0.8s, $transition transform 0.8s;

      ._hide & {
         transform: translateX(10%);
      }
   }
   #service-item-12-3 {
      transition: $transition ease opacity 1.2s, $transition transform 1.2s;

      ._hide & {
         transform: translateY(-10%);
      }
   }

   // svg 13
   #service-item-13-1 {
      transition: $transition ease opacity 0.4s, $transition transform 0.4s;

      ._hide & {
         transform: translateY(-10%);
      }
   }
   #service-item-13-2 {
      transition: $transition ease opacity 0.8s, $transition transform 0.8s;

      ._hide & {
         transform: translateX(10%);
      }
   }
   #service-item-13-3 {
      transition: $transition ease opacity 1.2s, $transition transform 1.2s;

      ._hide & {
         transform: translateX(-10%);
      }
   }

   // svg 14
   #service-item-14-1 {
      ._hide & {
         transform: translateX(10%);
      }
   }
   #service-item-14-3 {
      ._hide & {
         transform: translateY(10%);
      }
   }
   #service-item-14-2 {
      ._hide & {
         transform: translateX(-10%);
      }
   }
}

.services {
   overflow: hidden;

   // .services__container
   &__container {
   }

   // .services__heading
   &__heading {
   }

   // .services__tabs
   &__tabs {
      @media (min-width: $mobile) {
         display: grid;
      }

      .tabs {
         // .tabs__navigation
         &__navigation {
            justify-content: space-between;
            gap: rem(20);
            align-items: center;

            @media (min-width: $mobile) {
               width: 100%;
               max-width: rem(928);
               margin-left: auto;
               margin-right: auto;
               grid-row: 2/3;
            }
            @media (max-width: $mobile) {
               overflow-x: auto;
               overflow-y: hidden;
               scrollbar-width: thin;
               &::-webkit-scrollbar {
                  width: 0;
                  height: 0;
               }
            }
         }

         // .tabs__title
         &__title {
            outline: 0;

            i {
               display: inline-block;
               background-color: $White;
               @include adaptiveValue("padding", 12, 8);
               @include adaptiveValue("border-radius", 18, 12);
               font-weight: 600;
               font-style: normal;
               color: $LBlue;
               transition: $transition ease all 0s;

               &::before {
                  @include adaptiveValue("font-size", 24, 20);
               }
            }

            &._tab-active {
               i {
                  color: $White;
                  background: linear-gradient(270deg, #f8ba55 0%, #fb7354 100%);

                  @media (min-width: $mobile) {
                     transform: scale(1.25);
                  }
               }
            }

            &:not(:last-child) {
               position: relative;

               &::before {
                  content: "";
                  display: block;
                  width: var(--line-width);
                  border-bottom: rem(4) dotted $LBlue;
                  position: absolute;
                  left: calc(100% + rem(20));
                  top: 50%;
                  transform: translateY(-50%);

                  @media (max-width: $mobile) {
                     left: calc(100% + rem(15));
                  }
                  @media (max-width: $mobileM) {
                     left: calc(100% + rem(13));
                  }
                  @media (max-width: $mobileSmall) {
                     left: calc(100% + rem(10));
                  }
               }
            }

            @media (any-hover: hover) {
               &:hover {
                  i {
                     transform: scale(1.25);
                  }
               }
            }
         }

         // .tabs__content
         &__content {
            @media (min-width: $mobile) {
               @include adaptiveValue("padding-bottom", 40, 16);
            }
            @media (max-width: $mobile) {
               @include adaptiveValue("padding-top", 40, 16);
            }
         }

         // .tabs__body
         &__body {
            @media (min-width: $mobile) {
               @include adaptiveValue("padding-bottom", 40, 16);
            }
            @media (max-width: $mobile) {
               @include adaptiveValue("padding-top", 40, 16);
            }
         }
      }
   }

   // .services__item
   &__item {
      @media (min-width: $mobile) {
         grid-template-columns: 1fr 1fr;
      }
   }

   // .services_reverse
   &_reverse {
      .services__container {
         max-width: rem(1100);
      }

      .service-item {
         position: relative;
      }

      .service-item__left {
         @media (min-width: $mobile) {
            position: initial;
         }
      }

      .service-item__media {
         @media (min-width: $mobile) {
            justify-content: flex-start;
         }
      }

      .service-item__count {
         top: 0;
         bottom: initial;
      }

      .service-item__right {
         @media (min-width: $mobile) {
            grid-row: 1/2;
            position: relative;
            @include adaptiveValue("padding-left", 100, 0, 1920, 992, 1);
            padding-top: rem(100);
         }
      }
   }
}

// features ====================================================================================================
.features {
   // .features__container
   &__container {
      display: grid;
      @include adaptiveValue("gap", 140, 100);
      max-width: rem(1440);
   }

   // .features__heading
   &__heading {
      max-width: rem(920);
      margin-left: auto;
      margin-right: auto;
   }

   // .features__items
   &__items {
      display: grid;
      @include adaptiveValue("gap", 140, 100);
   }

   // .features__item
   &__item {
      max-width: rem(1290);

      &:nth-child(2n) {
         margin-left: auto;

         @media (min-width: $mobile) {
            grid-template-columns: 1fr percent(490, 1290);
         }

         .service-item__right {
            @media (min-width: $mobile) {
               grid-row: 1/2;
            }
         }
      }
   }

   // .features_reverse
   &_reverse {
      .features__item {
         margin-left: auto;

         @media (min-width: $mobile) {
            grid-template-columns: 1fr percent(490, 1290);
         }

         .service-item__right {
            @media (min-width: $mobile) {
               grid-row: 1/2;
            }
         }

         &:nth-child(2n) {
            margin-left: initial;

            @media (min-width: $mobile) {
               grid-template-columns: percent(490, 1290) 1fr;
            }

            .service-item__right {
               grid-row: initial;
            }
         }
      }
   }

   // .features_small
   &_small {
      .features__container {
         max-width: rem(1140);
      }

      .service-item {
         @media (min-width: $mobile) {
            grid-template-columns: repeat(2, 1fr) !important;
         }
      }
   }
}
// feature item-1
#earth {
   transition: $transition ease opacity 0s, $transition transform 0s;

   ._hide & {
      transform: translateX(20%);
   }
}
#package {
   transition: $transition ease opacity 0.5s, $transition transform 0.5s;

   ._hide & {
      transform: translateY(-20%);
   }
}
#arrow-1 {
   transition: $transition ease opacity 0.8s, $transition transform 0.8s;

   ._hide & {
      transform: translateX(20%);
   }
}
#arrow-2 {
   transition: $transition ease opacity 1.1s, $transition transform 1.1s;

   ._hide & {
      transform: translateX(-20%);
   }
}
#arrow-3 {
   transition: $transition ease opacity 1.4s, $transition transform 1.4s;

   ._hide & {
      transform: translateX(-20%);
   }
}

// feature item-2
#earth-2 {
   transition: $transition ease opacity 0s, $transition transform 0s;

   ._hide & {
      transform: translateY(-10%);
   }
}
#cloud-2 {
   transition: $transition ease opacity 0.3s, $transition transform 0.3s;

   ._hide & {
      transform: translateX(-10%);
   }
}
#cloud-3 {
   transition: $transition ease opacity 0.6s, $transition transform 0.6s;

   ._hide & {
      transform: translateX(10%);
   }
}
#location-2 {
   transition: $transition ease opacity 0.9s, $transition transform 0.9s;

   ._hide & {
      transform: translateY(-10%);
   }
}
#location-3 {
   transition: $transition ease opacity 1.1s, $transition transform 1.1s;

   ._hide & {
      transform: translateY(-10%);
   }
}
#delivery {
   transition: $transition ease opacity 0.6s, 0.8s transform 0.6s;

   ._hide & {
      transform: translateY(-10%);
   }
}

// feature item-3
#service-item-14-1 {
   ._hide & {
      transform: translateX(10%);
   }
}
#service-item-14-3 {
   ._hide & {
      transform: translateY(10%);
   }
}
#service-item-14-2 {
   ._hide & {
      transform: translateX(-10%);
   }
}

// feature item-4
#service-item-15-1 {
   ._hide & {
      transform: translateX(10%);
   }
}
#service-item-15-2 {
   ._hide & {
      transform: translateY(10%);
   }
}
#service-item-15-3 {
   ._hide & {
      transform: translateY(-10%);
   }
}
#service-item-15-4 {
   ._hide & {
      transform: translateY(-15%);
   }
}

// geography ====================================================================================================
.geography {
   // .geography__container
   &__container {
   }

   // .geography__tabs
   &__tabs {
      display: grid;
      position: relative;

      .tabs {
         // .tabs__navigation
         &__navigation {
            grid-row: 2/3;
            @include adaptiveValue("margin-top", 140, 52);
            @include adaptiveValue("column-gap", 24, 16);
            position: relative;
            z-index: 1;
         }

         // .tabs__title
         &__title {
         }

         // .tabs__content
         &__content {
         }

         // .tabs__body
         &__body {
            padding-bottom: rem(40);
            @include adaptiveValue("padding-top", 120, 40);
         }
      }
   }

   // .geography__title
   &__title {
      display: flex;
      align-items: center;
      @include adaptiveValue("gap", 12, 8);
      padding: rem(6) rem(24) rem(6) rem(6);
      @include adaptiveValue("border-radius", 18, 12);
      background-color: $LBlue;
      font-weight: 600;
      @include adaptiveValue("font-size", 18, 14);
      line-height: math.div(23, 18);
      transition: $transition ease all 0s;

      img {
         flex: 0 0 rem(36);
         @include adaptiveValue("flex-basis", 36, 30);
         @include adaptiveValue("max-width", 36, 30);
         border-radius: rem(12);
      }

      &._tab-active {
         background-color: $Violet;
         color: $White;
      }
   }

   // .geography__bg
   &__bg {
      transition: $transition ease opacity 0s;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: contain;
         object-position: right;
         transition: $transition ease transform 0s;
      }

      ._slide & {
         opacity: 0;

         img {
            transform: translateX(rem(100));
         }
      }
   }

   ._content {
      max-width: rem(540);
      position: relative;
      z-index: 1;
      transition: $transition ease all 0s;
      // transition: $transition ease opacity, $transition transform 0s;

      p {
         max-width: rem(440);
      }
   }
}

// groth ====================================================================================================
.groth {
   background-color: $mainColor;
   color: $White;
   position: relative;
   padding: 0;
   overflow: hidden;

   &::after {
      content: "";
      display: block;
      width: rem(1013);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: url(../img/home/groth-bg.svg) no-repeat top left/cover;
   }

   // .groth__container
   &__container {
      position: relative;
      z-index: 1;
      display: flex;
      max-width: rem(1490);
   }

   // .groth__row
   &__row {
      @include adaptiveValue("margin-left", 150, 0, 1920, 992, 1);
   }

   // .groth__body
   &__body {
      @include adaptiveValue("padding-top", 200, 48, 1920, 992, 1);
      @include adaptiveValue("padding-bottom", 200, 48, 1920, 992, 1);
      max-width: percent(800, 1340);
      @include adaptiveValue("padding-right", 80, 20, 1920, 992, 1);

      @media (max-width: $mobileM) {
         padding-right: rem(10);
         max-width: 70%;
      }

      h,
      .title-h {
         &1,
         &2 {
            @include adaptiveValue("margin-bottom", 48, 24);
         }
      }
   }

   // .groth__image
   &__image {
      img {
         position: absolute;
         top: 0;
         right: 0;
         max-width: percent(540, 1490);
         height: 100%;
         object-fit: cover;
         object-position: left;
         will-change: transform;

         @media (max-width: $mobileM) {
            max-width: 30%;
         }
      }
   }
}

// template7 ====================================================================================================
.template7 {
   background-color: $White;

   // .template7__container
   &__container {
   }

   // .template7__wrapper
   &__wrapper {
      @include adaptiveValue("border-radius", 48, 18);
      @include adaptiveValue("padding-top", 100, 24, 1920, 768, 1);
      @include adaptiveValue("padding-bottom", 100, 24, 1920, 768, 1);
      @include adaptiveValue("padding-left", 96, 16, 1920, 768, 1);
      @include adaptiveValue("padding-right", 96, 16, 1920, 768, 1);
      background-color: $LBlue;
      text-align: center;
   }

   // .template7__text
   &__text {
      h,
      .title-h {
         &1,
         &2,
         &3 {
            @include adaptiveValue("margin-bottom", 40, 20);
         }
      }

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 24);
      }
   }

   // .template7__items
   &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      @include adaptiveValue("column-gap", 72, 24, 1920, 768, 1);
      row-gap: rem(24);
   }

   // .template7__item
   &__item {
   }
   a.template7__item {
      @media (any-hover: hover) {
         transition: $transition ease opacity 0s;

         &:hover {
            opacity: 0.6;
         }
      }
   }

   & + .template8 {
      padding-top: 0;
   }
}

// template8 ====================================================================================================
.template8 {
   background-color: $White;

   // .template8__container
   &__container {
   }

   // .template8__heading
   &__heading {
      text-align: center;
      max-width: rem(852);
      margin-left: auto;
      margin-right: auto;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 64, 48);
      }
   }

   // .template8__items
   &__items {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      @include adaptiveValue("margin", -30, -8, 1920, 992, 1);
   }

   // .template8__card
   &__card {
      @include adaptiveValue("padding", 30, 8, 1920, 992, 1);
   }
}

.card-template8 {
   @include adaptiveValue("border-radius", 48, 18);
   overflow: hidden;

   // .card-template8__img
   &__img {
      position: relative;
      padding-bottom: percent(307, 540);
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .card-template8__body
   &__body {
      @include adaptiveValue("padding", 48, 16);
   }
}

// clients ====================================================================================================
.clients {
   background-color: $White;
   position: relative;
   @include adaptiveValue("padding-bottom", 200, 100);

   &::before {
      content: "";
      pointer-events: none;
      display: block;
      height: 100%;
      width: percent(1039, 1920);
      position: absolute;
      bottom: 0;
      left: 0;
      background: url(../img/home/clients-bg.svg) no-repeat bottom left/contain;
   }

   // .clients__container
   &__container {
   }

   // .clients__slider
   &__slider {
      position: relative;
      z-index: 1;

      .swiper__arrows {
         @media (max-width: $mobileSmall) {
            flex: 0 0 100%;
            justify-content: flex-end;
         }
      }
   }

   // .clients__heading
   &__heading {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(24) rem(40);

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 100, 24);
      }

      ._content {
         max-width: rem(700);
      }
   }

   // .clients__wrapper
   &__wrapper {
   }

   // .clients__slide
   &__slide {
   }
}

.clients-item {
   display: grid;
   grid-template-columns: rem(56) 1fr;
   align-items: flex-start;
   @include adaptiveValue("column-gap", 36, 16, 1920, 992, 1);

   @media (min-width: $mobile) {
      grid-template-columns: rem(64) 1fr;
   }
   @media (min-width: $tablet) {
      grid-template-columns: rem(72) 1fr;
   }

   // .clients-item__avatar
   &__avatar {
      max-width: rem(56);
      border-radius: 50%;
      overflow: hidden;

      @media (min-width: $mobile) {
         max-width: rem(64);
      }
      @media (min-width: $tablet) {
         max-width: rem(72);
      }
   }

   // .clients-item__body
   &__body {
      display: grid;
      align-items: flex-start;
   }

   // .clients-item__text
   &__text {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 16, 12);
      }
   }

   // .clients-item__name
   &__name {
      font-weight: 700;
      @include adaptiveValue("font-size", 18, 12);
      line-height: math.div(32, 18);
   }

   // .clients-item__position
   &__position {
      @include adaptiveValue("font-size", 18, 12);
      line-height: math.div(32, 18);
      color: #929bb1;
   }
}

// integrations ====================================================================================================
.integrations {
   // .integrations__container
   &__container {
   }

   // .integrations__heading
   &__heading {
   }

   // .integrations__list
   &__list {
      display: grid;
      align-items: flex-start;
      gap: rem(24);
   }

   // .integrations__card
   &__card {
   }
}

.integrations-card {
   @include adaptiveValue("padding-top", 64, 24, 1920, 768, 1);
   @include adaptiveValue("padding-bottom", 64, 24, 1920, 768, 1);
   @include adaptiveValue("padding-left", 48, 16, 1920, 768, 1);
   @include adaptiveValue("padding-right", 48, 16, 1920, 768, 1);
   background-color: $White;
   @include adaptiveValue("border-radius", 48, 18);
   display: grid;
   align-items: center;
   @include adaptiveValue("gap", 32, 24);
   @media (min-width: $mobileM) {
      grid-template-columns: rem(155) 1fr;
   }
   @media (min-width: $mobile) {
      grid-template-columns: rem(220) 1fr;
   }

   // .integrations-card__caption
   &__caption {
   }

   // .integrations-card__items
   &__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(32) rem(44);
      @include adaptiveValue("row-gap", 32, 16, 1920, 768, 1);
      @include adaptiveValue("column-gap", 44, 32, 1920, 768, 1);
   }

   // .integrations-card__item
   &__item {
   }
   a.integrations-card__item {
      @media (any-hover: hover) {
         transition: $transition ease opacity 0s;

         &:hover {
            opacity: 0.6;
         }
      }
   }
}

// integrations ====================================================================================================
.press {
   // .press__container
   &__container {
      display: grid;
      align-items: center;
      @include adaptiveValue("column-gap", 100, 20, 1920, 992, 1);
      row-gap: rem(32);

      @media (min-width: $tablet) {
         grid-template-columns: 1fr percent(640, 1140);
      }
   }

   // .press__heading
   &__heading {
   }

   // .press__items
   &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue("column-gap", 80, 40);
      @include adaptiveValue("row-gap", 40, 32);

      @media (min-width: $mobileM) {
         grid-template-columns: repeat(3, 1fr);
      }
   }

   // .press__item
   &__item {
      display: flex;
      align-items: flex-end;
   }
   a.press__item {
      @media (any-hover: hover) {
         transition: $transition ease opacity 0s;
         &:hover {
            opacity: 0.6;
         }
      }
   }
}
//====================================================================================================
