// template12 ====================================================================================================
.template12 {
   background: url(../img/virtual/template12-bg.png) no-repeat;
   background-position: center bottom !important;
   background-size: cover !important;
   // background-attachment: fixed;
   @include adaptiveValue("padding-top", 80, 40);
   @include adaptiveValue("padding-bottom", 140, 100);
   overflow: hidden;

   // .template12__container
   &__container {
      display: grid;
      align-items: center;
      grid-template-columns: percent(540, 1280) percent(540, 1280);
      justify-content: space-between;
      @include adaptiveValue("column-gap", 60, 40, 1920, 992, 1);

      @media (max-width: $mobile) {
         grid-template-columns: 60% 1fr;
      }
      @media (max-width: $mobileM) {
         grid-template-columns: 60% 55%;
         column-gap: rem(20);
      }
   }

   // .template12__text
   &__text {
   }

   // .template12__media
   &__media {
      position: relative;

      @media (max-width: $mobile) {
         margin-right: rem(-40);
      }
      @media (max-width: $mobileM) {
         margin-right: rem(-20);
      }
   }

   // .template12__icon
   &__icon {
      position: absolute;
      z-index: 1;

      @media (max-width: $mobileM) {
         display: none;
      }

      // .template12__icon_first
      &_first {
         top: percent(317, 668);
         left: rem(-48);
         left: percent(-60, 540);
         @include adaptiveValue("max-width", 170, 80);
      }

      // .template12__icon_second
      &_second {
         top: percent(70, 668);
         right: rem(36);
         @include adaptiveValue("max-width", 80, 60);
      }
   }

   // .template12__image
   &__image {
      position: relative;
   }
}

// template13 ====================================================================================================
.template13 {
   background-color: $mainColor;
   @include adaptiveValue("padding-top", 100, 40);
   @include adaptiveValue("padding-bottom", 100, 40);
   color: $White;
   position: relative;
   overflow: hidden;

   &::before {
      content: "";
      display: block;
      height: 100%;
      width: percent(786, 1920);
      background: url(../img/virtual/template13-bg.svg) no-repeat right/cover;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
   }

   // .template13__container
   &__container {
      display: grid;
      align-items: center;
      @include adaptiveValue("column-gap", 100, 20, 1920, 992, 1);
      position: relative;
      grid-template-columns: 1fr percent(430, 1280);

      @media (min-width: $mobile) {
         grid-template-columns: percent(430, 1280) 1fr;
      }
      @media (max-width: $mobileSmall) {
         grid-template-columns: 65% 55%;
         column-gap: rem(10);
      }
   }

   // .template13__image
   &__image {
      @media (max-width: $mobile) {
         margin-right: rem(-40);
      }
   }

   // .template13__text
   &__text {
      @media (max-width: $mobile) {
         grid-row: 1/2;
      }
   }
}

// rates ====================================================================================================
.rates {
   position: relative;
   @media (min-width:$mobile){
      &::before {
         content: "";
         display: block;
         width: percent(642, 1920);
         height: percent(942, 1900);
         height: rem(942);
         background: url(../img/virtual/rates-bg.svg) no-repeat;
         background-size: contain;
         background-position: top right;
         position: absolute;
         right: 0;
         top: 0;
         pointer-events: none;
      }
   }

   // .rates__container
   &__container {
      max-width: rem(1140);
   }

   // .rates__heading
   &__heading {
      position: relative;
   }

   // .rates__list
   &__list {
      position: relative;
   }

   // .rates__item
   &__item {
      display: flex;
      align-items: center;
      @include adaptiveValue("column-gap", 40, 20);

      &:not(:first-child) {
         @include adaptiveValue("padding-top", 40, 16, 1920, 768, 1);
      }
      &:not(:last-child) {
         border-bottom: rem(4) dashed #cdd8f7;
         @include adaptiveValue("padding-bottom", 40, 16, 1920, 768, 1);
      }
   }

   // .rates__text
   &__text {
      flex: 1;
   }

   // .rates__price
   &__price {
      flex: 0 0 percent(240, 1140);
      color: #929bb1;
      text-align: right;

      @media (min-width: $mobileSmall) {
      }
      @media (min-width: $mobile) {
         text-align: left;
      }

      span {
         font-family: $fontSecond;
         font-weight: 700;
         @include adaptiveValue("font-size", 48, 24);
         color: #7a43ee;
         display: inline-block;
      }

      // .rates__price_empty
      &_empty {
         font-weight: 700;
         @include adaptiveValue("font-size", 24, 16);
         color: $mainColor;
      }
   }
}

// faq ====================================================================================================
.faq {
   // .faq__container
   &__container {
   }

   // .faq__heading
   &__heading {
   }

   // .faq__spollers
   &__spollers {
   }
}
