//====================================================================================================
.footer {
   background-color: $mainColor;
   color: $White;
   @include adaptiveValue("padding-top", 48, 24);
   @include adaptiveValue("padding-bottom", 48, 24);
   position: relative;
   z-index: 2;

   // .footer__container
   &__container {
      max-width: rem(1824);
      display: grid;
      align-items: flex-end;
      row-gap: rem(32);
   }

   // .footer__top
   &__top {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(20);
   }

   // .footer__logo
   &__logo {
   }

   // .footer__right
   &__right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include adaptiveValue("column-gap", 80, 20, 1920, 1440, 1);
   }

   // .footer__menu
   &__menu {
      flex: 1;

      @media (max-width: $tablet) {
         flex: 0 0 100%;
      }

      ul {
         justify-content: flex-end;

         @media (max-width: $tablet) {
            max-width: rem(600);
            margin-left: auto;
         }
         @media (max-width:$mobileM){
             justify-content: center; 
         }
      }

      a {
         @include adaptiveValue("font-size", 18, 14, 1920, 375, 1);
      }
   }

   // .footer__payments
   &__payments {
   }

   // .footer__bottom
   &__bottom {
   }
}

.logo {
   // .logo__link
   &__link {
   }
   // .logo__img
   &__img {
   }
   // .logo__text
   &__text {
   }
}

.menu {
   // .menu__body
   &__body {
   }
}
.payments {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   @include adaptiveValue("gap", 12, 8);

   // .payments__item
   &__item {
      display: flex;
      justify-content: center;
      padding: rem(12);
      @include adaptiveValue("padding", 12, 8, 1920, 1440, 1);
      border-radius: rem(18);
      background-color: $Violet;
      // flex: 0 0 rem(40);
      // @include adaptiveValue("flex-basis", 48, 36, 1920, 375, 1);
   }
}

.bottom-footer {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: rem(20);
   @include adaptiveValue("font-size", 18, 12, 1920, 768, 1);
   line-height: math.div(32, 18);
   color: #746994;

   // .bottom-footer__copyright
   &__copyright {
      max-width: rem(600);

      @media (max-width:$mobileM){
          margin-left: auto;
          margin-right: auto; 
      }
   }

   // .bottom-footer__links
   &__links {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      gap: rem(20);

      @media (max-width: $mobileM) {
         flex: 0 0 100%;
         justify-content: center;
      }

      a {
         text-decoration: underline from-font;
         text-underline-offset: 3px;
         transition: $transition ease text-decoration 0s;

         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline transparent from-font;
            }
         }
      }
   }
}

//====================================================================================================
