//====================================================================================================
.header {
	@include adaptiveValue("padding-top", 18, 12);
	@include adaptiveValue("padding-bottom", 18, 12);
	position: sticky;
	top: 0;
	z-index: 50;
	background-color: $White;
	will-change: transform;
	transition: 0.5s ease transform 0s;

	&._header-scroll {
		transform: translateY(-100%);
	}
	&._header-show {
		transform: translateY(0);
	}

	// .header__container
	&__container {
		max-width: rem(1824);
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("column-gap", 40, 20);
		// column-gap: rem(40);
	}

	// .header__logo
	&__logo {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 51;
	}

	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 80, 20, 1920, 1440, 1);
		padding: rem(12);
		@include adaptiveValue("padding-left", 36, 12, 1920, 992, 1);
		border-radius: rem(18);
		background-color: #e8f0ff;

		@media (min-width: $tablet) and (max-width: 1440px) {
			flex: 1;
			justify-content: flex-end;
		}

		.menu__body {
			@media (max-width: $tablet) {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition: 0.5s ease all 0s;
				overflow-y: auto;
				overflow-x: hidden;
				background-color: #e8f0ff;
				padding-top: rem(120);
				padding-bottom: rem(120);
				height: calc(var(--vh, 1vh) * 100);
				display: grid;
				align-items: center;
				align-content: center;
				justify-content: center;
				gap: rem(40);
				z-index: 50;

				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}

				.menu-open & {
					opacity: 1 !important;
					visibility: visible;
					pointer-events: all;
				}

				ul {
					display: grid;
					align-content: flex-start;
					justify-content: center;
					row-gap: rem(16);
				}

				li {
					justify-content: center;
				}

				a {
					font-size: rem(20);
					line-height: math.div(32, 20);
					text-align: center;
				}
			}
		}

		ul {
		}
	}

	// .header__actions
	&__actions {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 18, 12);

		.btn {
			padding: rem(12) rem(24);
			line-height: math.div(24, 18);
			white-space: nowrap;

			@media (min-width: $mobileM) {
				@include adaptiveValue("padding-left", 24, 16, 1920, 375, 1);
				@include adaptiveValue("padding-right", 24, 16, 1920, 375, 1);
				@include adaptiveValue("font-size", 18, 12, 1920, 375, 1);
			}
		}
	}
}

.logo {
	// .logo__link
	&__link {
		display: inline-flex;
		align-items: center;
		@include adaptiveValue("column-gap", 20, 10, 1920, 375, 1);
	}
	a.logo__link {
		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	// .logo__img
	&__img {
		display: flex;
		align-items: center;
		flex: 0 0 rem(28);
	}

	// .logo__text
	&__text {
		font-family: $fontSecond;
		@include adaptiveValue("font-size", 20, 14, 1920, 375, 1);
		line-height: math.div(24, 20);
	}
}

.menu {
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(12) rem(20);
		@include adaptiveValue("row-gap", 12, 8, 1920, 992, 1);
	}

	li {
		display: inline-flex;
		align-items: center;
	}

	a {
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 12, 1920, 768, 1);
		line-height: math.div(28, 18);
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline from-font;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 51;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
